// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/brands';

i.ti {
    font-size: 20px;
    margin-right: 7px;

    &.mr-0 {
        margin-right: 0;
    }
}

.fade-loader {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(224, 224, 224, 0.3);
    display: block;
    z-index: 1;
}

.sortable-drag {
    transform: scale(0.6);
}

.planned-exercise {
    input, select {
        font-size: .9em;
        min-width: 50px;
    }
}

#drag-drop-wrapper {
    width:500px;
    margin:0 auto;
    margin-top:40px;

    #drop-box {
        margin-left:100px;
        width: 20em;
        line-height: 10em;
        border: 1px dashed gray;
        text-align: center;
        color: gray;
        border-radius: 7px;
    }
}

.card.selected-card {
    box-shadow: rgb(30 41 59 / 90%) 0 1px 5px 0
}

.conversation-card {
    display: block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    -moz-padding-start: calc(.75rem - 3px);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714;
    color: inherit;
    border: 1px solid #d9dbde;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
