// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';



.fade-loader {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(224, 224, 224, 0.3);
    display: block;
    z-index: 1;
}

.sortable-drag {
    transform: scale(0.6);
}

.planned-exercise {
    input, select {
        font-size: .7em;
        min-width: 50px;
    }

}

#drag-drop-wrapper {
    width:500px;
    margin:0 auto;
    margin-top:40px;

    #drop-box {
        margin-left:100px;
        width: 20em;
        line-height: 10em;
        border: 1px dashed gray;
        text-align: center;
        color: gray;
        border-radius: 7px;
    }
}

